*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(232, 247, 242);
}
.header-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 8rem;
}
h1{
    font-size: 4em;
}
.input-field{
padding: 10px 40px;
width: 40em;
margin-top: 20px;
background-color: rgb(252, 252, 252);
border-radius: 10px;
border: none;
outline: none;
}
.input-field::placeholder{
    text-transform: capitalize;
    text-align: center;
    font-size: 18px;
    color: rgb(191, 200, 202);
}

.cocktails-container{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap:10px;
    margin-top:50px;
}
.cocktail{
    position: relative;
    margin-bottom: 20px;
}
.image{
    width: 350px;
    height: 300px;
    border-radius: 10px;
}
.cocktail-name{
    font-size: 24px;
    font-weight: 600;
    background-color: rgb(221, 226, 226,0.5);
    border-radius: 10px;
    padding: 5px 5px;
    object-fit: contain;
    text-align: center;
    position: absolute;
    bottom: 10px;
    right: 5px;
}
@media screen and (max-width:1024px){
    .cocktails-container{
        padding: 0 25px;
        grid-template-columns: repeat(2, 1fr);
        gap:10px;
        margin-top:50px;
        padding: 10px 30px;
    }
    .image{
    width: 350px;
    height: 300px;
    border-radius: 10px;
}
}
@media screen and (max-width:786px){
    .header-section{
        height: 6rem;
        margin-top: 2em;
    }
    h1{
        font-size: 4em;
    }
    .input-field{
    padding: 20px 40px;
    width: 40em;
    margin-top: 15px;
    }
    .cocktails-container{
        padding: 0 25px;
        grid-template-columns: repeat(2, 1fr);
        gap:10px;
        margin-top:50px;
    }
    .image{
        width: 300px;
        height: 250px;
        border-radius: 10px;
    }
    .cocktail-name{
        font-size: 24px;
        padding: 5px 5px;
      
    }
}
@media screen and (max-width:480px){
    .header-section{
        height: 6rem;
        margin-top: 4em;
    }
    h1{
        font-size: 4em;
    }
    .input-field{
    padding: 10px 50px;
    width: 30em;
    margin-bottom: 25px;
    border-radius: 20px;
    }
    .input-field::placeholder{
        font-size: 20px;
        color: rgb(156, 160, 161);
    }
    .cocktails-container{
        padding: 0 40px;
        grid-template-columns: repeat(1, 1fr);
        gap:10px;
        margin-top:30px;
    }
    .image{
        width: 300px;
        height: 250px;
        border-radius: 10px;
    }
    .cocktail-name{
        font-size: 24px;
        padding: 5px 15px;
      
    }
}
